
 *{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),url(pexels-jvdm-1457842.jpg);
    background-position: center;
    background-size: cover;
}
.navbar{
    width: 85%;
    margin: 0 75px;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li {
    display: inline-block;
    margin: 0 20px;
    position: relative;


}
.navbar ul li a{
 text-decoration:none ;
}

.navbar ul li::after{
content: '';
height: 3px;
width: 0%;
position: absolute;
background: black;

left: 0;
bottom: -5px;
transition: .5s;


}
.navbar ul li:hover::after{
    width: 100%;

}
.content{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    

}
button{
    width: 200px;
    
    border-radius: 8px;
    background: none;
    position: relative;
    color: white;
    padding: 10px;
    font-size: 20px;
overflow

}
span{
    width:0 ;
    height: 100%;
    
    position: absolute;
    background: #009698;
    border-radius: 8px;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: .5s;


}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
     */

*/*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.banner {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),url(pexels-jvdm-1457842.jpg);
    background-size:cover;
    background-position: center; 
} 
.loge {
    font-weight: 700;
     color: rgb(187, 185, 185); 
    font-size: 35px;
    cursor: pointer;
    width: 120px;
    padding: 0 20px;
    
}
.loge a {
    color: rgb(141, 147, 145); 
    text-decoration: none;
}
.navbar{
    width: 85%;
    margin: 0 75px;
    padding: 35px 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    
}
.navbar ul li {
    display: inline-block; 
    list-style: none;
    margin: 0 20px;
    position: relative;
    
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
h1{
    font-size: 50px;
    margin: 0 30px;
}
p{
    line-height: 25px;
     font-weight: 100;
     margin: 25px 0;
}
button{
    width: 150px;
    padding: 12px 0;
    border-radius: 25px;
    background: transparent;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    position: relative;
     /* overflow: hidden;  */
}
/* span{
    width: 0;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    background: #009688;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: .5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
@media  screen and (max-width:600px) {
    h1{
        font-size: 30px;
    }
    .navbar ul  {
        display: none;
    }
    .loge{
        text-align: center;
    }
} */ */
